version: "3.8"
services:
  buyer-proxy:
    image: caddy:2
    restart: unless-stopped
    depends_on:
      - buyer-server
    ports:
      - "127.0.0.1::80"
    volumes:
      - ./proxy/Caddyfile:/etc/caddy/Caddyfile
      - caddy_buyer_data:/data
      - caddy_buyer_config:/config
    networks:
      - buyer
  buyer-client:
    build:
      context: ./client/apps/buyer
      dockerfile: Dockerfile
    environment:
      - NODE_ENV=production
    networks:
      - buyer
  buyer-server:
    build:
      context: ./server
    environment:
      - NODE_ENV=production
    init: true
    ports:
      - "127.0.0.1::3000"
    volumes:
      - buyer-vol:/var/pico-image
      - ./server/rulesets:/usr/src/app/rulesets
    networks:
      - buyer
  seller-server:
    build:
      context: ./server
    init: true
    environment:
      - NODE_ENV=production
    ports:
      - "127.0.0.1::3000"
    volumes:
      - seller-vol:/var/pico-image
    networks:
      - seller

networks:
  buyer:
  seller:

volumes:
  buyer-vol: {}
  seller-vol: {}
  caddy_buyer_config: {}
  caddy_buyer_data: {}

