# See https://caddyserver.com/docs/caddyfile for details.
# Use localhost for dev, change to a proper domain for production.
# When a domain is associated Caddy will automatically setup SSL certs, otherwise it will use
# a self signed cert.
http://localhost:80

# Proxy Sky events and queries to the Pico engine server.
reverse_proxy /sky/* buyer-server:3000

# Pass all other requests to the Remix App
reverse_proxy buyer-client:3000
